@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Merriweather&family=Outfit&family=Poppins:wght@200;400&family=Rampart+One&family=Roboto:wght@300&family=Tilt+Prism&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.nav{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: #120F12;
    width: auto;
    color: white;
    justify-content: space-between;
}
.nav img{
    width: auto;
    height: 60px;
}
.nav ul{
    list-style-type: none;
}
.list{
    padding: 20px;
}
.list ul{
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.nav{
    padding-top: 20px;
}
.button{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.btns{
    margin-top: 10px;
    height: 50px;
    width: auto;
    font-size: 15px;
    padding: 12px;
    border-radius: 40px;
    color: white;
    border: 1px solid #ffffff;
    background-color: #120F12;

}
select{
    background-color: #120F12;
    border: none;
    color: white;
    font-size: 15px;
}

section{
    min-height: 100vh;
    width: auto;
}
#Home{
    background-color: #120F12;
    
}
.hom-img {
    font-size: 30px;
    color: white;
    padding-left: 10px;
}
.hom{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 5%;
}
.txt{
    margin-top: 15px;
    margin-left: 15px;
    color: white;

}
.txt p{
    font-size: 14px;
}
.contain{
    display: flex;
    flex-direction: row;
}
.image{
    padding-top: 5%;
}
.image img{
    height: 450px;
    width: auto;
}
.click{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.circle{
    display: flex;
    flex-direction: row;
    padding-top: 15px;
}
.c1 img{
    height: 40px;
    width: auto;
}
.c1,.c2,.c3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #120f12;
    background-color: rgb(130, 129, 129);
}
.c1:hover{
    border: 2px solid white;
}
.c2:hover{
    border: 2px solid white;
}
.c3:hover{
    border: 2px solid white;
}
.c3 img{
    height: 40px;
    width: auto;
}
.c2 img{
    height: 40px;
    width: auto;
}

.c2{
    margin-left: -15px;
    background-color: antiquewhite;
}
.c3{
    margin-left: -15px;
    background-color: rgb(206, 182, 207);
}
#urb{
    background-color:rgb(241, 241, 112);
    color: #120F12;
}
#lof img{
    height: 40px;
}
.cards{
    display: flex;
    flex-direction: row;
    gap: 0;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
}
.car1{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    background-color: #cde9a0;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 1px solid black;
}
.car2{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    background-color: #f7efb1;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 1px solid black;
}
.car3{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 1%;
    background-color: #e8c2eb;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 1px solid black;
}
.cards p{
    font-size: 13px;
}
#num{
    margin-top: 10px;
}
#num h3{
    border: 2px solid rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color: white;
    background-color:#2c292c;
}
footer{
    height: 100px;
}
#foot{
    background-color: #ffffff;
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-between;
}
.farm{
    margin-top: 2%;
    margin-left: 4%;
    padding: 1%;
    padding-top: 8%;
    padding-left: 4%;
    border-radius: 50px;
    color: white;
    height: 40px;
    background-color: #120F12;
    width: 200px;
}
#tim{
    border-radius: 30px;
    border: 1px solid black;
    color: black;
    background-color: white;
    padding: 10px;
}
.l-btn{
    height: 50px;
    border: 1px solid black;
    width: 50px;
    margin-top: 4%;
    border-radius: 50%;
    padding-top:4px;
    padding-left: 10px;
    padding-right: 0px;
    background-color: #979797;
}
.l-btn img{
    height: 40px;
    width: 40px;
}
.f-btns{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}
.f-para{
    margin-top: 20px;
}
.ci1{
    border: 1px solid black;
    height: 40px;
    width: 150px;
    color: white;
    padding: 1%;
    padding-top: 5%;
    padding-left: 2%;
    border-radius: 30px;
    color: black;
    background-color: #caeb91;
}
.ci2{
    border: 1px solid black;
    margin-left: -50px;
    height: 40px;
    width: 150px;
    color: white;
    padding: 1%;
    padding-top: 5%;
    padding-left: 2%;
    border-radius: 30px;
    color: black;
    background-color: #acf5ab;
}
.ci3{
    border: 1px solid rgb(0, 0, 0);
    margin-left: -50px;
    height: 40px;
    width: 150px;
    color: white;
    padding: 1%;
    padding-top: 5%;
    padding-left: 2%;
    border-radius: 30px;
    color: #120F12;
    background-color: #e1cce1;
}
.conta{
    display: flex;
    margin-top: 15px;
    flex-direction: row;
    gap: 20px;
}